@charset "UTF-8";
@import "./reset.scss";
@import "./mixin.scss";

// 버튼
button{
    border:0; background: 0;
    &.-default{
        background: $BRAND_COLOR; 
        color:#fff;
        border-radius: 5px;
        padding: 2px 8px;
        display: flex;
        align-items: center;
    }
    &.-line{
        display: inline;
        text-decoration: underline;
        color:$COLOR_DARKGRAY
    }
} 

// a링크 버튼
a.btn{
    border:0; background: 0;
    background: $BRAND_COLOR; 
    color:#fff;
    border-radius: 5px;
    padding: 2px 8px;
    width: 100px; height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.-gray{
        background: $COLOR_GRAY; 
    }
    &.-borderBrand{
        background: #fff; color:$BRAND_COLOR;
        border:1px solid $BRAND_COLOR;
    }
    
}

// form
textarea{
    &.textArea{
        width: 100%;
        border:1px solid $COLOR_LIGHTGRAY;
        padding:10px;
    }

}

input{
    &[type=text]{
        &.inputText{
            width: 100%;
            border:1px solid $COLOR_LIGHTGRAY;
            height:30px;
            padding:0 10px;
        }
        &.-error{
            border:1px solid red;
        }    
    }
    &[type=date]{
        &.inputDate{
            width: 100%;
            border:1px solid $COLOR_LIGHTGRAY;
            height:30px;
            padding:0 10px;
        }    
        &.-error{
            border:1px solid red;
        }  
    }
}

.radioButton{
    &__input{ display: block; opacity: 0; width: 0; height: 0; line-height: 0;
        &:checked{
            + .radioButton__text{
                &:after{
                    content:'✔'; background-color: rgba(0,0,0,0.4); width: 100%; height: 100%; display: block;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                    border-radius: 50%;  position: absolute; top:0; left: 0;
                }
            }
        }
    }
    &__text{
        position: relative;
        display: flex; align-items: center; justify-content: center;
        color:#fff;
        background-color: green;
        border-radius: 50%;
        width: 44px; height:44px; 
        letter-spacing: -0.1em;
    }
}

//레이어
.layer{
    width: 100%; height:100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    &__dimmed{
        width: 100%; height: 100%;
    }
    &__wrapper{
        width: 100%; height: 100%;
        display: flex; align-items: center; justify-content: center;
    }
    &__content{
        &.-loading{
            color:$BRAND_COLOR;
            font-weight: bold; font-size:22px; font-style: italic;

        }
    }
}